node_modules
dist
.env
.env.local
.DS_Store
*.log
sellapage-7145d-firebase-adminsdk-fbsvc-53a17e8575.json
desktop.ini
firestore.rules
Sendbox-DOCS.txt
To-dos.txt


# Local Vercel folder
.aider*
.vercel
.env*